body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

label {
  font-size: 1rem;
}

#map {
  height: 80vh;
  width: 100%;
}
